<!-- Page Content -->
<div class="container">
  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">Eamonn Daley
    <br>
    Software Engineer
    <small>-Polyglot Programmer</small>
  </h1>
  <!--<ol class="breadcrumb">
    <li class="breadcrumb-item">
      
    </li>
    <li class="breadcrumb-item active">Portfolio Item</li>
  </ol>-->
  <!-- Portfolio Item Row -->
  <div class="row">
    <div class="col-md-8">
      <img class="img-fluid" src="http://placehold.it/750x500" alt="">
    </div>
    <div class="col-md-4">
      <h3 class="my-3">Bio:</h3>
      <p>My name is Eamonn Daley, I am a recent college graduate with a Bachelor's degree in Computer Science-Software Engineering from Michigan Technological University</p>
      <h3 class="my-3">Contact Info</h3>
      <ul>
        <li>Email: info@eamonndaley.com</li>
        <li>Phone Number: 248-396-3323</li>
        <li>Adress: 21475 Columbine ct,<br> Grosse Ile, MI 48138</li>
        <li><%= link_to 'Download My Resume', home_download_pdf_url %></li>
      </ul>
    </div>
  </div>
  
  
  <!-- /.row -->
  <!-- Related Projects Row -->
 <!-- <h3 class="my-4">My Projects</h3>
  <div class="row">
    <div class="col-md-3 col-sm-6 mb-4">
      <a href="https://cshci.cs.mtu.edu/beaches/">
        
      </a>
    <p>I worked on this app for the Wisconsin Department of </p>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div> 
    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="http://placehold.it/500x300" alt="">
      </a>
    </div>
  </div>-->
  <!-- /.row -->
</div>
<!-- /.container -->